<div class="row">
	<div class="input-field col s12">
		<input placeholder="name@email.com" id="{{prefix}}email" name="email" type="email" class="validate" required>
		<label for="{{prefix}}email">Email</label>
		<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
	</div>
</div>

<div class="row">
	<div class="input-field col s12">
		<input placeholder="" id="{{prefix}}password" name="password" type="password" class="validate" required>
		<label for="{{prefix}}password">Password</label>
		<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
	</div>
</div>