<h1 class="h4 m-b-4">{{title}}</h1>

<div class="row">
	<form action="/login/reset-password" method="POST" class="col s12">
		<input type="hidden" name="_csrf" value="{{csrf}}">

		{{> alerts alerts=resetPasswordAlerts }}
		{{> email prefix='reset_password_' }}

		<button class="btn waves-effect waves-light" type="submit" name="action">Reset
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>