<h1 class="h4 m-b-4">{{title}}</h1>

<div class="row">
	<form action="/login/set-new-password/" method="POST" class="col s12">
		<input type="hidden" name="_csrf" value="{{csrf}}">
		<input type="hidden" name="usedId" value="{{usedId}}">
		<input type="hidden" name="token" value="{{token}}">

		{{> alerts alerts=setNewPasswordAlerts }}
		{{> password prefix='new_' }}
		{{> password prefix='confirm_new_' name="confirm" label="Password configm" }}

		<button class="btn waves-effect waves-light" type="submit" name="action">Set password
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>